@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto&display=swap');

body{
  font-family: 'Mulish' , sans-serif;
}

:root{
  --black: #211E1E;
  --white: #F1EFED;
}

.row{
  margin: 0 !important;
}

.container{
  --bs-gutter-x: 0 !important;
  margin: 0 3vw;
  max-width: fit-content !important;
  border-left: .11vw solid var(--black);
  border-right: .11vw solid var(--black);
}

h4{
  font-size:2vw;
  font-weight: 900;
}
nav{
  padding: 0 !important;
  margin: 0 !important;
  border: .11vw solid var(--black);
  background-color: transparent !important;
}


.navbar-brand img{
  margin: 0 3vw;

}
.header-text{
  border-left: .11vw solid var(--black);
  /* padding: 20px; */
  padding: 1.3vw;
  
}

.header-text:hover{
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.navbar-nav a{
  text-decoration: none !important;
  font-family: 'Mulish' , sans-serif ;
  color:var(--black);
  font-weight: 500;
}


.landing {
  min-height:max-content;
  width: 100%;
  /* border-bottom: .11vw solid var(--black); */
  position: relative;
}

.name{
  padding: 17% 5% 8% 5%;
}
.name h1{
  font-family: 'Mulish' , sans-serif;
  font-weight: 400;
  font-size: 2.8vw;
}

.name p{
  font-family: 'Roboto' , sans-serif;
  font-size: 1.5vw;
}

.arrow {
  margin-top: 10%;
  position: relative;
}

.arrow span {
  position: absolute;
  bottom: 0;
}

.arrow i{
  font-size: 25px;
  color: var(--black);
}

.cover-img{
    width: 100%; /* width of container */
    max-height: 500px; /* height of container */
    overflow: hidden;
    /* filter: saturate(42%);
    -webkit-filter: saturate(42%);
    -moz-filter: saturate(42%);; */
    padding: 0 5%;
}

.card-labels span{
  padding: .7vw;
  border-top: .11vw solid var(--black);
  font-family: 'Mulish', sans-serif;
  font-size: 1.2vw;
}

.border-txt{
  border-left: .11vw solid var(--black);
}

.space{
  min-height: 50px;
  border-top: .11vw solid var(--black);
  border-bottom: .11vw solid var(--black);
}

.space-break{
  min-height: 100px;
  border-top: .11vw solid var(--black);
  border-bottom: .11vw solid var(--black);
}

.title-section{
  border-bottom: .11vw solid var(--black);
  margin-bottom: 0 !important;
}
.title-section-top{
  border-top: .11vw solid var(--black);
  border-bottom: .11vw solid var(--black);
  margin-bottom: 0 !important;
  
}

.text-hover:hover{
  text-decoration: underline;
  background-color: #211e1e8c;
}