@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto&display=swap');

body{
  font-family: 'Mulish' , sans-serif;
}

:root{
  --black: #211E1E;
  --white: #F1EFED;
}

.bg-white{
  background-color: var(--white) !important;
}

.row{
  margin: 0 !important;
}

.container{
  --bs-gutter-x: 0 !important;
  margin: 0 3vw;
  max-width:none;
  border-left: .11vw solid var(--black);
  border-right: .11vw solid var(--black);
}

h4{
  font-size:2vw;
  font-weight: 900;
}
nav{
  padding: 0 !important;
  margin: 0 !important;
  border: .11vw solid var(--black);
  background-color: transparent !important;
}


.navbar-brand img{
  margin: 0 3vw;

}
.header-text{
  border-left: .11vw solid var(--black);
  /* padding: 20px; */
  padding: 1.3vw;
  
}

.header-text:hover{
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.navbar-nav a{
  text-decoration: none !important;
  font-family: 'Mulish' , sans-serif ;
  color:var(--black);
  font-weight: 500;
}


.landing {
  min-height:88vh;
  width: 100%;
  position: relative;
}

.name{
  padding: 17% 5% 8% 5%;
}
.name h1{
  font-family: 'Mulish' , sans-serif;
  font-weight: 400;
  font-size: 2.8vw;
}

.name p{
  font-family: 'Roboto' , sans-serif;
  font-size: 1.5vw;
}

.arrow {
  margin-top: 10%;
  position: relative;
}

.arrow span {
  position: absolute;
  bottom: 0;
}

.arrow i{
  font-size: 25px;
  color: var(--black);
}

.cover-img{
    width: 100%; /* width of container */
    max-height: 500px; /* height of container */
    overflow:hidden;
    /* filter: saturate(42%);
    -webkit-filter: saturate(42%);
    -moz-filter: saturate(42%);; */
    /* padding: 0 5%; */
}
/* 
.card-labels:hover{
  background-color: #211e1e8c ;
} */
.card-labels span{
  padding: .7vw;
  border-top: .11vw solid var(--black);
  font-family: 'Mulish', sans-serif;
  font-size: 1.2vw;
}

.border-txt{
  border-left: .11vw solid var(--black);
}

.space{
  min-height: 40px;
  border-top: .11vw solid var(--black);
  border-bottom: .11vw solid var(--black);
}

.space-break{
  min-height: 100px;
  border-top: .11vw solid var(--black);
  border-bottom: .11vw solid var(--black);
}

.title-section{
  border-bottom: .11vw solid var(--black);
  margin-bottom: 0 !important;
}
.title-section-top{
  border-top: .11vw solid var(--black);
  border-bottom: .11vw solid var(--black);
  margin-bottom: 0 !important;
  
}

.text-hover a{
  text-decoration: none;
  color: var(--black);
}
.text-hover:hover{
  text-decoration: underline;
  background-color: #211e1e8c;
}

/* ----------PROJECT PAGE ---------- */
.project-page{
  margin: 0 3vw;
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
}

.project-page button{
  font-size: 3vh;
  color: var(--black);
  background-color: var(--white);
  border: 0;
}

.project-page button:hover, 
.project-page button:focus{
  color: var(--black);
  background-color: var(--white);
  border: 0;
  outline: none;
  box-shadow: none;
}

.project-page h4{
  font-weight:400;
}
.project-page p{
  font-size:large
}
.project-page .text-body{
  padding: 3vh;
  border-bottom: 2px solid var(--black);
}
.project-page .text-body-below{
  padding: 3vh;
  border-top: 2px solid var(--black);
}

.text-body a{
  text-decoration: none;
  color: var(--black)
}

.text-body i{
  font-size: x-large;
  margin: 3px;
  padding: 1px;

}

.project-page .row{
  margin: 0;
  padding: 0;
}
.project-page .col{
  /* text-align: center; */
  font-size:large;
  padding: 3vh;
  border: 1px solid var(--black);
}
/* ------SLIDER------------ */

.slider{
  background: transparent;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5vw; */
}
.slider-container{
  width: 100vw;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.next,
.prev {
  position: absolute;
  background: var(--black);
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
  color: var(--white);
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.slider img {
  position: absolute;
  max-width: 70vw;
}

.refresh {
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

